pytest < 7.0.0  # v7.0.0 removed _pytest.tmpdir.TempdirFactory, which is used by some of the pytest plugins we use
pytest-mock
pytest-postgresql
swh.core[http] >= 0.0.61
types-click
types-python-dateutil
