# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html
vcversioner
swh.core >= 0.0.19
swh.model >= 0.0.11
swh.scheduler >= 0.0.7
swh.loader.core >= 0.0.10
click
retrying
dateutil
subvertpy >= 0.9.4
