Source: swh-loader-svn
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-click,
               python3-dateutil,
               python3-pytest,
               python3-pytest-mock,
               python3-retrying,
               python3-setuptools,
               python3-subvertpy (>= 0.9.4~),
               python3-swh.core (>= 0.0.19~),
               python3-swh.loader.core (>= 0.0.74~),
               python3-swh.model (>= 0.0.18~),
               python3-swh.scheduler (>= 0.0.39~),
               python3-swh.storage (>= 0.0.114~),
               python3-vcversioner,
               subversion
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DLDSVN/

Package: python3-swh.loader.svn
Architecture: all
Depends: gzip,
         python3-swh.core (>= 0.0.19~),
         python3-swh.loader.core (>= 0.0.74~),
         python3-swh.model (>= 0.0.18~),
         python3-swh.scheduler (>= 0.0.39~),
         python3-swh.storage (>= 0.0.114~),
         subversion,
         ${misc:Depends},
         ${python3:Depends}
Description: Software Heritage Loader Svn
 Module in charge of loading svn repositories into swh storage.
