#!/usr/bin/make -f

export PYBUILD_NAME=swh.loader.svn
export PYBUILD_TEST_ARGS=-v -m "not db and not fs"
export PYBUILD_DISABLE_python3.8=1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/loader/__init__.py
